
@-ms-viewport{
    width: device-width;
}

*{
    font-family: 'Raleway', sans-serif;
}
a{
    font-style: none;
    text-decoration: none;
    color: #000;
}
body{
    
    background: url(bg.png);
    background-size: cover;
}


nav{
  position: relative;
  width: 100%;
  height: 13%;
  background-color:transparent;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  font-size: larger;
  padding-bottom: 0%;
  padding-top: 0%;
  padding-left: 10vh;
  padding-right: 2vh;
  box-shadow:
  2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02),
  6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
  12.5px 12.5px 10px rgba(0, 0, 0, 0.035),
  22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
  41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05),
  100px 100px 80px rgba(0, 0, 0, 0.07)
;
}

.btn {
    font-size: 13px;
    background: transparent;
    border: none;
    padding: 1em 1.5em;
    color: black;
    text-transform: uppercase;
    position: relative;
    transition: .5s ease;
  }
  
  .btn::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0;
    background-color: black;
    transition: .5s ease;
  }
  
  .btn:hover {
    color: #000;
    transition-delay: .5s;
    box-shadow:
    2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02),
    6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
    12.5px 12.5px 10px rgba(0, 0, 0, 0.035),
    22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
    41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05),
    100px 100px 80px rgba(0, 0, 0, 0.07)
;
  }
  .btn:hover::before {
    width: 100%;
  }
  
  .btn::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 0;
    width: 100%;
    background-color: #ddd;
    transition: .4s ease;
    z-index: -1;
  }
  .btn.insta::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 0;
    width: 100%;
    transition: .4s ease;
    z-index: -1;
    background: #f09433; 
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
  }
  .btn.tw::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 0;
    width: 100%;
    transition: .4s ease;
    z-index: -1;
    background: #00acee; 
  }
  .btn.git::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 0;
    width: 100%;
    transition: .4s ease;
    z-index: -1;
    background: #000; 
  }
  .btn.git:hover {
    color: #fff;
    transition-delay: .5s;
    box-shadow:
    2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02),
    6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
    12.5px 12.5px 10px rgba(0, 0, 0, 0.035),
    22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
    41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05),
    100px 100px 80px rgba(0, 0, 0, 0.07)
;
  }
  .btn.lnk::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 0;
    width: 100%;
    transition: .4s ease;
    z-index: -1;
    background: #0077b5; 
  }
  .btn:hover::after {
    height: 100%;
    transition-delay: 0.4s;
    color: aliceblue;
  }

  .btnyazi {
    position: relative;
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    text-align: center;
    font-size: 12px;
    letter-spacing: 1px;
    text-decoration: none;
    color: #725AC1;
    background: transparent;
    cursor: pointer;
    transition: ease-out 0.5s;
    border: 2px solid #725AC1;
    border-radius: 10px;
    box-shadow: inset 0 0 0 0 #725AC1;
  }
  
  .btnyazi:hover {
    color: white;
    box-shadow: inset 0 -100px 0 0 #725AC1;
  }
  
  .btnyazi:active {
    transform: scale(0.7);
  }

  .logo{
    background-color:none; 
  }
  .ramo{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    min-width:50vh;
    height:auto;
    perspective: 250vh;
    border-radius: 3rem 0 3rem 0;
    margin-right: 5%;
    box-shadow:
    2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02),
    6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
    12.5px 12.5px 10px rgba(0, 0, 0, 0.035),
    22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
    41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05),
    100px 100px 80px rgba(0, 0, 0, 0.07);
    transition: .5s;
  }
  .ramo:hover{
    margin:-2vh -2vh 0 0;
  }

.container{
  position: relative;
  padding-top: 3rem;
  min-height:max-content;
  height: 90vh;
  width: auto;
  display: grid;
  grid-template-columns: 90vh 30vh 30vh;
  grid-template-rows: auto, auto, 30vh;
  justify-content: space-evenly;
  justify-items: center;
  align-items:center;
  text-align: center;
}

.yazi{
    position: relative;
    display: grid;
    grid-template-columns: auto, auto, 30vh;
    grid-template-rows: auto, auto, 30vh;
    flex-direction: column;
    justify-content: center;
    block-size: auto;
    padding:2rem;
    min-width: 75vh;
    font-size: 1.3vw;
    height: auto;
    text-align:start;
}
.yazi h1{
  display: block;
  
}
.sss{
    font-style:oblique;
    text-decoration: underline;
    font-size: large;
}
.alt{
  position: relative;
  padding-top: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 45rem;
  color:#ddd;
  font-weight: 900;
  background:#725AC1;
}
.linesvg{
  position:relative;
  padding: 0;
  margin: -4rem 0 -4rem 0 ;
  max-height: 10rem;
  max-width: 20em;
  z-index: -99;
  
}
@media (max-width:768px){
  .container{
    max-width: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-items: center;
    
    min-width: 60vh;
  }
  .ramo{
    min-width:38vh;
  }
  nav{
    margin-bottom: 15vh;
  }
  .yazi{
    font-size:10px;
    padding-left: 3vh;
    min-width: 50vh;
    height: auto;
    position: relative;
    display: grid;
    grid-template-columns: auto, auto, 100vh;
    grid-template-rows: auto, auto, 90vh;
    align-items: start;
    justify-content: start;

  }
  .alt{
    margin-top: 20vh;
  }
}

@media (max-width:460px){
  nav{
    margin-bottom: 5vh;
  }
  .alt{
    margin-top: 30vh;
  }
  .yazi{
    font-size:8px;
    padding-left: 2vh;
    min-width: 10vh;
    height: 20vh;
    position: relative;
    display: grid;
    align-items: start;
    justify-content: start;
}
}